h1{
text-align: center;
margin: 1px 109px 1px 0px;
}
a{
margin: -24px 0 14px 198px;
}
body{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}
.login-btn{
        background-color: green;
        color: #fff;
        padding: 2%;
        margin-top: 10px;
        border: 0;
        cursor: pointer;
}
label{
    font-size: 15px;
    font-weight: bolder;
    font-family: sans-serif;
    margin: 10px 0;
}